// jQuery MiniColors
link(rel='stylesheet', type='text/css', href=plugins+'jquery-minicolors/jquery.minicolors.css')
// Bootstrap TouchSpin
link(rel='stylesheet', type='text/css', href=plugins+'bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css')
// Bootstrap Date Range Picker
link(rel='stylesheet', type='text/css', href=plugins+'bootstrap-daterangepicker/daterangepicker.css')
// Bootstrap DatePicker
link(rel='stylesheet', type='text/css', href=plugins+'eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')