.logo
  img(src=build+'images/logo/logo-dark.png', alt='', width='160')
#esp-profile.easy-pie-chart(data-percent='66', style='height: 130px; width: 130px; line-height: 100px; padding: 15px;')
  img.img-circle(src=build+'images/users/04.jpg', alt='', width='100')
h3.mt-15 Ryan Moreno
p.fs-16.text-muted Enter your password to retrieve your session.
form(method='get', action='index.html')
  .form-group
    input.form-control(type='password', placeholder='Enter Password')
ul.list-inline.mb-0
  li
    a(href='#')
      i.ion-social-skype.text-info.fs-18
  li
    a(href='#')
      i.ion-social-pinterest.text-danger.fs-18
  li
    a(href='#')
      i.ion-social-whatsapp.text-success.fs-18
  li
    a(href='#')
      i.ion-social-instagram.text-black.fs-18